{% extends "generator/layout.html" %}

{% block title %}Test-Title{% endblock %}

{% block body %}
<h1>Altam Generator</h1>
<div id="main">
    <div class="container">
        <label for="digit">Digit of the Password (between 6 and 32):</label>
        <input type="number" id="digit" name="digit" min="6" max="32"><br><br>
        <div class="password-container">
            <input type="text" id="password" readonly>
            <button onclick="generatePassword()">Generate</button>
        </div>
    </div>
</div>
{% endblock %}